"Each member of the teams contribution to CA2", your part of that in the brief
covering of the system architecture part of the brief
the server half of pubnub communication
"Discuss any known issues with the application and plans for completion", also your part of that in the brief